<{{ element_type|default('div') }} class="sb-card{% if not image.src %} sb-card--without-image{% endif %}{% if extra_classes %} {{ extra_classes }}{% endif %}">

  {% if image.src %}
  <div class="sb-card__image">
    {% if link %}
    <a href="{{ link.url }}" tabindex="-1" aria-hidden="true">
      <img src="{{ image.src }}" alt="{{ image.alt }}"/>
    </a>
    {% else %}
    <img src="{{ image.src }}" alt="{{ image.alt }}"/>
    {% endif %}
  </div>
  {% endif %}

  {% if kicker_text %}
  <div class="sb-card__kicker">
    {{ kicker_text }}
  </div>
  {% endif %} 

    {% if heading_text and heading_level %}
    <div class="sb-card__heading">
      <{{ heading_level }}>{{ heading_text }}</{{ heading_level }}>
    </div>
    {% endif %}

    {% if body_text %}
    <div class="sb-card__bodytext">
      {# Wrap in paragraph tag if not Drupal site #}
      {% if not db_is_active %}
        <p>{{ body_text }}</p>
      {% else %}
        {{ body_text }}
      {% endif %}
    </div>
    {% endif %}

    {% if link  %}
    <div class="sb-card__link">
      {% include "../link/link.twig" with {
        variant: 'secondary',
        text: link.text,
        url: link.url,
      }%}
    </div>
    {% endif %}

</{{ element_type|default('div') }}>
